<root>
   <name>Solution Approval Guard</name>
   <key>solutionapprovalguard</key>
   <state>stable</state>
   <logo>https://raw.githubusercontent.com/andrefelipeufcg/solutionapprovalguard/main/logo.png</logo>
   <description>
                  <short>
         <ar_IQ>يتحكم فيما إذا كان بإمكان المستخدمين إدخال تعليقات عند الموافقة على حل تذكرة.</ar_IQ>
         <ar_SA>يتحكم فيما إذا كان بإمكان المستخدمين إدخال تعليقات عند الموافقة على حل تذكرة.</ar_SA>
         <ar_SY>يتحكم فيما إذا كان بإمكان المستخدمين إدخال تعليقات عند الموافقة على حل تذكرة.</ar_SY>
         <az_AZ>Bilet həllini təsdiqləyərkən istifadəçilərin şərh daxil edə biləcəyini idarə edir.</az_AZ>
         <be_BY>Кантралюе, ці могуць карыстальнікі ўводзіць каментарыі пры зацвярджэнні рашэння заяўкі.</be_BY>
         <bg_BG>Контролира дали потребителите могат да въвеждат коментари при одобряване на решение на билет.</bg_BG>
         <bn_BD>টিকিট সমাধান অনুমোদন করার সময় ব্যবহারকারীরা মন্তব্য লিখতে পারবে কিনা তা নিয়ন্ত্রণ করে।</bn_BD>
         <ca_ES>Controla si els usuaris poden introduir comentaris en aprovar la solució d'un tiquet.</ca_ES>
         <cs_CZ>Určuje, zda uživatelé mohou zadávat komentáře při schvalování řešení tiketu.</cs_CZ>
         <da_DK>Styrer, om brugere kan indtaste kommentarer, når de godkender en billetløsning.</da_DK>
         <de_DE>Steuert, ob Benutzer beim Genehmigen einer Ticketlösung Kommentare eingeben können.</de_DE>
         <el_GR>Ελέγχει εάν οι χρήστες μπορούν να εισάγουν σχόλια κατά την έγκριση μιας λύσης αιτήματος.</el_GR>
         <en>Controls whether users can enter comments when approving a ticket solution.</en>
         <en_GB>Controls whether users can enter comments when approving a ticket solution.</en_GB>
         <en_US>Controls whether users can enter comments when approving a ticket solution.</en_US>
         <eo>Kontrolas ĉu uzantoj povas enigi komentojn kiam ili aprobas biletan solvon.</eo>
         <es_419>Controla si los usuarios pueden introducir comentarios al aprobar la solución de un ticket.</es_419>
         <es_AR>Controla si los usuarios pueden introducir comentarios al aprobar la solución de un ticket.</es_AR>
         <es_CL>Controla si los usuarios pueden introducir comentarios al aprobar la solución de un ticket.</es_CL>
         <es_CO>Controla si los usuarios pueden introducir comentarios al aprobar la solución de un ticket.</es_CO>
         <es_EC>Controla si los usuarios pueden introducir comentarios al aprobar la solución de un ticket.</es_EC>
         <es_ES>Controla si los usuarios pueden introducir comentarios al aprobar la solución de un ticket.</es_ES>
         <es_MX>Controla si los usuarios pueden introducir comentarios al aprobar la solución de un ticket.</es_MX>
         <es_VE>Controla si los usuarios pueden introducir comentarios al aprobar la solución de un ticket.</es_VE>
         <et_EE>Määrab, kas kasutajad saavad pileti lahenduse kinnitamisel kommentaare sisestada.</et_EE>
         <eu_ES>Erabiltzaileek txartelaren irtenbidea onartzean iruzkinak sar ditzaketen kontrolatzen du.</eu_ES>
         <fa_IR>کنترل می‌کند که آیا کاربران می‌توانند هنگام تأیید راه‌حل یک تیکت نظرات خود را وارد کنند.</fa_IR>
         <fi_FI>Määrittää, voivatko käyttäjät antaa kommentteja hyväksyessään tiketin ratkaisun.</fi_FI>
         <fr_BE>Contrôle si les utilisateurs peuvent saisir des commentaires lors de l'approbation d'une solution de ticket.</fr_BE>
         <fr_CA>Contrôle si les utilisateurs peuvent saisir des commentaires lors de l'approbation d'une solution de ticket.</fr_CA>
         <fr_FR>Contrôle si les utilisateurs peuvent saisir des commentaires lors de l'approbation d'une solution de ticket.</fr_FR>
         <gl_ES>Controla se os usuarios poden introducir comentarios ao aprobar a solución dun tícket.</gl_ES>
         <he_IL>שולט אם משתמשים יכולים להזין הערות בעת אישור פתרון לכרטיס.</he_IL>
         <hi_IN>नियंत्रित करता है कि क्या टिकट समाधान स्वीकृत करते समय उपयोगकर्ता टिप्पणियां दर्ज कर सकते हैं।</hi_IN>
         <hr_HR>Kontrolira mogu li korisnici unijeti komentare prilikom odobravanja rješenja zahtjeva.</hr_HR>
         <hu_HU>Szabályozza, hogy a felhasználók beírhatnak-e megjegyzéseket a jegy megoldásának jóváhagyásakor.</hu_HU>
         <id_ID>Mengontrol apakah pengguna dapat memasukkan komentar saat menyetujui solusi tiket.</id_ID>
         <is_IS>Stýrir því hvort notendur geti slegið inn athugasemdir þegar þeir samþykkja miðalausn.</is_IS>
         <it_IT>Controlla se gli utenti possono inserire commenti durante l'approvazione di una soluzione a un ticket.</it_IT>
         <ja_JP>チケットの解決策を承認する際にユーザーがコメントを入力できるかどうかを制御します。</ja_JP>
         <km_KH>គ្រប់គ្រងថាតើអ្នកប្រើប្រាស់អាចបញ្ចូលមតិយោបល់នៅពេលអនុម័តដំណោះស្រាយសំបុត្រ។</km_KH>
         <kn>ಟಿಕೆಟ್ ಪರಿಹಾರವನ್ನು ಅನುಮೋದಿಸುವಾಗ ಬಳಕೆದಾರರು ಕಾಮೆಂಟ್‌ಗಳನ್ನು ನಮೂದಿಸಬಹುದೇ ಎಂಬುದನ್ನು ನಿಯಂತ್ರಿಸುತ್ತದೆ.</kn>
         <ko_KR>티켓 솔루션을 승인할 때 사용자가 댓글을 입력할 수 있는지 여부를 제어합니다.</ko_KR>
         <lt_LT>Valdo, ar vartotojai gali įvesti komentarus patvirtindami bilieto sprendimą.</lt_LT>
         <lv_LV>Kontrolē, vai lietotāji var ievadīt komentārus, apstiprinot pieteikuma risinājumu.</lv_LV>
         <mn_MN>Хэрэглэгчид тасалбарын шийдлийг батлах үед сэтгэгдэл оруулах боломжтой эсэхийг хянадаг.</mn_MN>
         <ms_MY>Mengawal sama ada pengguna boleh memasukkan ulasan apabila meluluskan penyelesaian tiket.</ms_MY>
         <nb_NO>Styrer om brukere kan skrive inn kommentarer når de godkjenner en saksløsning.</nb_NO>
         <nl_BE>Bepaalt of gebruikers opmerkingen kunnen invoeren bij het goedkeuren van een ticketoplossing.</nl_BE>
         <nl_NL>Bepaalt of gebruikers opmerkingen kunnen invoeren bij het goedkeuren van een ticketoplossing.</nl_NL>
         <nn_NO>Styrer om brukarar kan skrive inn kommentarar når dei godkjenner ei saksløysing.</nn_NO>
         <pl_PL>Kontroluje, czy użytkownicy mogą wprowadzać komentarze podczas zatwierdzania rozwiązania zgłoszenia.</pl_PL>
         <pt_BR>Controla se os usuários podem inserir comentários ao aprovar a solução de um chamado.</pt_BR>
         <pt_PT>Controla se os usuários podem inserir comentários ao aprovar a solução de um chamado.</pt_PT>
         <ro_RO>Controlează dacă utilizatorii pot introduce comentarii la aprobarea unei soluții pentru tichet.</ro_RO>
         <ru_RU>Контролирует, могут ли пользователи вводить комментарии при утверждении решения по заявке.</ru_RU>
         <sk_SK>Určuje, či používatelia môžu zadávať komentáre pri schvaľovaní riešenia požiadavky.</sk_SK>
         <sl_SI>Nadzira, ali lahko uporabniki vnesejo komentarje pri odobritvi rešitve zahtevka.</sl_SI>
         <sq_AL>Kontrollon nëse përdoruesit mund të shkruajnë komente gjatë miratimit të zgjidhjes së një tikete.</sq_AL>
         <sr_RS>Контролише да ли корисници могу да унесу коментаре приликом одобравања решења захтева.</sr_RS>
         <sv_SE>Styr om användare kan ange kommentarer när de godkänner en ärendelösning.</sv_SE>
         <th_TH>ควบคุมว่าผู้ใช้สามารถป้อนความคิดเห็นเมื่ออนุมัติวิธีแก้ไขปัญหาตั๋วได้หรือไม่</th_TH>
         <tr_TR>Bir bilet çözümünü onaylarken kullanıcıların yorum girip giremeyeceğini kontrol eder.</tr_TR>
         <uk_UA>Контролює, чи можуть користувачі вводити коментарі під час затвердження рішення за заявкою.</uk_UA>
         <vi_VN>Kiểm soát xem người dùng có thể nhập bình luận khi phê duyệt giải pháp vé hay không.</vi_VN>
         <zh_CN>控制用户在批准工单解决方案时是否可以输入评论。</zh_CN>
         <zh_HK>控制用戶在批准工單解決方案時是否可以輸入評論。</zh_HK>
         <zh_TW>控制用戶在批准工單解決方案時是否可以輸入評論。</zh_TW>
      </short>
                  <long>
         <ar_IQ>يعتبر Solution Approval Guard إضافة لسهولة الاستخدام وسلامة العمليات تم تطويره خصيصًا لـ GLPI 11. وهو يتيح للمسؤولين التحكم فيما إذا كان بإمكان المستخدمين النهائيين إدخال تعليقات نصية عند الموافقة على حل التذكرة أم لا.</ar_IQ>
         <ar_SA>يعتبر Solution Approval Guard إضافة لسهولة الاستخدام وسلامة العمليات تم تطويره خصيصًا لـ GLPI 11. وهو يتيح للمسؤولين التحكم فيما إذا كان بإمكان المستخدمين النهائيين إدخال تعليقات نصية عند الموافقة على حل التذكرة أم لا.</ar_SA>
         <ar_SY>يعتبر Solution Approval Guard إضافة لسهولة الاستخدام وسلامة العمليات تم تطويره خصيصًا لـ GLPI 11. وهو يتيح للمسؤولين التحكم فيما إذا كان بإمكان المستخدمين النهائيين إدخال تعليقات نصية عند الموافقة على حل التذكرة أم لا.</ar_SY>
         <az_AZ>Solution Approval Guard xüsusi olaraq GLPI 11 üçün hazırlanmış istifadə və proses bütövlüyü plaginidir. Bu, idarəçilərə son istifadəçilərin bilet həllini təsdiqləyərkən mətn şərhləri daxil edə biləcəyini idarə etməyə imkan verir.</az_AZ>
         <be_BY>Solution Approval Guard - гэта плагін для зручнасці выкарыстання і цэласнасці працэсаў, распрацаваны спецыяльна для GLPI 11. Ён дазваляе адміністратарам кантралявать, ці могуць канчатковыя карыстальнікі ўводзіць тэкставыя каментарыі пры зацвярджэнні рашэння заяўкі.</be_BY>
         <bg_BG>Solution Approval Guard е плъгин за използваемост и цялостност на процесите, разработен специално за GLPI 11. Той позволява на администраторите да контролират дали крайните потребители могат да въвеждат текстови коментари при одобряване на решение на билет.</bg_BG>
         <bn_BD>Solution Approval Guard হল GLPI 11 এর জন্য বিশেষভাবে তৈরি একটি ব্যবহারযোগ্যতা এবং প্রক্রিয়া অখণ্ডতা প্লাগইন। এটি প্রশাসকদের নিয়ন্ত্রণ করতে দেয় যে শেষ ব্যবহারকারীরা একটি টিকিট সমাধান অনুমোদন করার সময় পাঠ্য মন্তব্য লিখতে পারে কিনা।</bn_BD>
         <ca_ES>Solution Approval Guard és un connector d'usabilitat i integritat de processos desenvolupat específicament per a GLPI 11. Permet als administradors controlar si els usuaris finals poden introduir comentaris de text en aprovar la solució d'un tiquet.</ca_ES>
         <cs_CZ>Solution Approval Guard je plugin pro použitelnost a integritu procesů vyvinutý speciálně pro GLPI 11. Umožňuje administrátorům určit, zda koncoví uživatelé mohou při schvalování řešení tiketu zadávat textové komentáře.</cs_CZ>
         <da_DK>Solution Approval Guard er et brugervenligheds- og procesintegritets-plugin udviklet specielt til GLPI 11. Det giver administratorer mulighed for at styre, om slutbrugere kan indtaste tekstkommentarer, når de godkender en billetløsning.</da_DK>
         <de_DE>Solution Approval Guard ist ein Usability- und Prozessintegritäts-Plugin, das speziell für GLPI 11 entwickelt wurde. Es ermöglicht Administratoren zu steuern, ob Endbenutzer Textkommentare eingeben können, wenn sie eine Ticketlösung genehmigen.</de_DE>
         <el_GR>Το Solution Approval Guard είναι ένα πρόσθετο χρηστικότητας και ακεραιότητας διαδικασιών που αναπτύχθηκε ειδικά για το GLPI 11. Επιτρέπει στους διαχειριστές να ελέγχουν εάν οι τελικοί χρήστες μπορούν να εισάγουν σχόλια κειμένου κατά την έγκριση μιας λύσης αιτήματος.</el_GR>
         <en>Solution Approval Guard is a usability and process integrity plugin developed specifically for GLPI 11. It allows administrators to control whether end users can enter text comments when approving a ticket solution.</en>
         <en_GB>Solution Approval Guard is a usability and process integrity plugin developed specifically for GLPI 11. It allows administrators to control whether end users can enter text comments when approving a ticket solution.</en_GB>
         <en_US>Solution Approval Guard is a usability and process integrity plugin developed specifically for GLPI 11. It allows administrators to control whether end users can enter text comments when approving a ticket solution.</en_US>
         <eo>Solution Approval Guard estas kromaĵo por uzebleco kaj proceza integreco evoluigita specife por GLPI 11. Ĝi permesas al administrantoj kontroli ĉu finuzantoj povas enigi tekstajn komentojn kiam ili aprobas biletan solvon.</eo>
         <es_419>Solution Approval Guard es un plugin de usabilidad e integridad de procesos desarrollado específicamente para GLPI 11. Permite a los administradores controlar si los usuarios finales pueden o no introducir comentarios de texto al aprobar la solución de un ticket.</es_419>
         <es_AR>Solution Approval Guard es un plugin de usabilidad e integridad de procesos desarrollado específicamente para GLPI 11. Permite a los administradores controlar si los usuarios finales pueden o no introducir comentarios de texto al aprobar la solución de un ticket.</es_AR>
         <es_CL>Solution Approval Guard es un plugin de usabilidad e integridad de procesos desarrollado específicamente para GLPI 11. Permite a los administradores controlar si los usuarios finales pueden o no introducir comentarios de texto al aprobar la solución de un ticket.</es_CL>
         <es_CO>Solution Approval Guard es un plugin de usabilidad e integridad de procesos desarrollado específicamente para GLPI 11. Permite a los administradores controlar si los usuarios finales pueden o no introducir comentarios de texto al aprobar la solución de un ticket.</es_CO>
         <es_EC>Solution Approval Guard es un plugin de usabilidad e integridad de procesos desarrollado específicamente para GLPI 11. Permite a los administradores controlar si los usuarios finales pueden o no introducir comentarios de texto al aprobar la solución de un ticket.</es_EC>
         <es_ES>Solution Approval Guard es un plugin de usabilidad e integridad de procesos desarrollado específicamente para GLPI 11. Permite a los administradores controlar si los usuarios finales pueden o no introducir comentarios de texto al aprobar la solución de un ticket.</es_ES>
         <es_MX>Solution Approval Guard es un plugin de usabilidad e integridad de procesos desarrollado específicamente para GLPI 11. Permite a los administradores controlar si los usuarios finales pueden o no introducir comentarios de texto al aprobar la solución de un ticket.</es_MX>
         <es_VE>Solution Approval Guard es un plugin de usabilidad e integridad de procesos desarrollado específicamente para GLPI 11. Permite a los administradores controlar si los usuarios finales pueden o no introducir comentarios de texto al aprobar la solución de un ticket.</es_VE>
         <et_EE>Solution Approval Guard on spetsiaalselt GLPI 11 jaoks välja töötatud kasutatavuse ja protsesside terviklikkuse pistikprogramm. See võimaldab administraatoritel kontrollida, kas lõppkasutajad saavad pileti lahenduse kinnitamisel tekstikommentaare sisestada.</et_EE>
         <eu_ES>Solution Approval Guard GLPI 11rako bereziki garatutako erabilgarritasun eta prozesuen osotasuneko plugina da. Administratzaileei kontrolatzeko aukera ematen die azken erabiltzaileek txartelaren irtenbidea onartzean testu-iruzkinak sar ditzaketen.</eu_ES>
         <fa_IR>Solution Approval Guard یک افزونه قابلیت استفاده و یکپارچگی فرآیند است که به طور خاص برای GLPI 11 توسعه یافته است. این به مدیران اجازه می‌دهد تا کنترل کنند که آیا کاربران نهایی می‌توانند هنگام تأیید راه‌حل یک تیکت، نظرات متنی را وارد کنند یا خیر.</fa_IR>
         <fi_FI>Solution Approval Guard on erityisesti GLPI 11:lle kehitetty käytettävyyden ja prosessien eheyden liitännäinen. Sen avulla järjestelmänvalvojat voivat hallita, voivatko loppukäyttäjät antaa tekstikommentteja hyväksyessään tiketin ratkaisun.</fi_FI>
         <fr_BE>Solution Approval Guard est un plugin d'utilisabilité et d'intégrité des processus développé spécifiquement pour GLPI 11. Il permet aux administrateurs de contrôler si les utilisateurs finaux peuvent ou non saisir des commentaires textuels lors de l'approbation d'une solution de ticket.</fr_BE>
         <fr_CA>Solution Approval Guard est un plugin d'utilisabilité et d'intégrité des processus développé spécifiquement pour GLPI 11. Il permet aux administrateurs de contrôler si les utilisateurs finaux peuvent ou non saisir des commentaires textuels lors de l'approbation d'une solution de ticket.</fr_CA>
         <fr_FR>Solution Approval Guard est un plugin d'utilisabilité et d'intégrité des processus développé spécifiquement pour GLPI 11. Il permet aux administrateurs de contrôler si les utilisateurs finaux peuvent ou non saisir des commentaires textuels lors de l'approbation d'une solution de ticket.</fr_FR>
         <gl_ES>Solution Approval Guard é un engadido de usabilidade e integridade de procesos desenvolvido especificamente para GLPI 11. Permite aos administradores controlar se os usuarios finais poden introducir comentarios de texto ao aprobar a solución dun tícket.</gl_ES>
         <he_IL>Solution Approval Guard הוא תוסף שימושיות ושלמות תהליכים שפותח במיוחד עבור GLPI 11. הוא מאפשר למנהלים לשלוט אם משתמשי קצה יכולים להזין הערות טקסט בעת אישור פתרון לכרטיס.</he_IL>
         <hi_IN>Solution Approval Guard एक उपयोगिता और प्रक्रिया अखंडता प्लगइन है जिसे विशेष रूप से GLPI 11 के लिए विकसित किया गया है। यह व्यवस्थापकों को यह नियंत्रित करने की अनुमति देता है कि अंतिम उपयोगकर्ता टिकट समाधान स्वीकृत करते समय टेक्स्ट टिप्पणियां दर्ज कर सकते हैं या नहीं।</hi_IN>
         <hr_HR>Solution Approval Guard je dodatak za upotrebljivost i integritet procesa razvijen posebno za GLPI 11. Omogućuje administratorima kontrolu mogu li krajnji korisnici unijeti tekstualne komentare prilikom odobravanja rješenja zahtjeva.</hr_HR>
         <hu_HU>A Solution Approval Guard egy használhatósági és folyamatintegritási bővítmény, amelyet kifejezetten a GLPI 11-hez fejlesztettek ki. Lehetővé teszi a rendszergazdák számára annak szabályozását, hogy a végfelhasználók beírhatnak-e szöveges megjegyzéseket a jegy megoldásának jóváhagyásakor.</hu_HU>
         <id_ID>Solution Approval Guard adalah plugin kegunaan dan integritas proses yang dikembangkan khusus untuk GLPI 11. Ini memungkinkan administrator untuk mengontrol apakah pengguna akhir dapat memasukkan komentar teks saat menyetujui solusi tiket.</id_ID>
         <is_IS>Solution Approval Guard er notagildi og ferliheilleika viðbót þróuð sérstaklega fyrir GLPI 11. Hún gerir stjórnendum kleift að stýra því hvort endanotendur geti slegið inn textaathugasemdir þegar þeir samþykkja miðalausn.</is_IS>
         <it_IT>Solution Approval Guard è un plugin per l'usabilità e l'integrità dei processi sviluppato specificamente per GLPI 11. Consente agli amministratori di controllare se gli utenti finali possono o meno inserire commenti di testo quando approvano la soluzione di un ticket.</it_IT>
         <ja_JP>Solution Approval Guardは、GLPI 11用に特別に開発されたユーザビリティおよびプロセス整合性プラグインです。これにより、管理者は、エンドユーザーがチケットの解決策を承認するときにテキストコメントを入力できるかどうかを制御できます。</ja_JP>
         <km_KH>Solution Approval Guard គឺជាកម្មវិធីជំនួយការប្រើប្រាស់ និងសុចរិតភាពដំណើរការដែលត្រូវបានបង្កើតឡើងជាពិសេសសម្រាប់ GLPI 11។ វាអនុញ្ញាតឱ្យអ្នកគ្រប់គ្រងដើម្បីត្រួតពិនិត្យថាតើអ្នកប្រើចុងក្រោយអាចបញ្ចូលមតិយោបល់អត្ថបទនៅពេលអនុម័តដំណោះស្រាយសំបុត្រដែរឬទេ។</km_KH>
         <kn>Solution Approval Guard ಎಂಬುದು GLPI 11 ಗಾಗಿ ವಿಶೇಷವಾಗಿ ಅಭಿವೃದ್ಧಿಪಡಿಸಲಾದ ಉಪಯುಕ್ತತೆ ಮತ್ತು ಪ್ರಕ್ರಿಯೆಯ ಸಮಗ್ರತೆಯ ಪ್ಲಗಿನ್ ಆಗಿದೆ. ಟಿಕೆಟ್ ಪರಿಹಾರವನ್ನು ಅನುಮೋದಿಸುವಾಗ ಅಂತಿಮ ಬಳಕೆದಾರರು ಪಠ್ಯ ಕಾಮೆಂಟ್‌ಗಳನ್ನು ನಮೂದಿಸಬಹುದೇ ಎಂಬುದನ್ನು ನಿಯಂತ್ರಿಸಲು ಇದು ನಿರ್ವಾಹಕರಿಗೆ ಅನುಮತಿಸುತ್ತದೆ.</kn>
         <ko_KR>Solution Approval Guard는 GLPI 11을 위해 특별히 개발된 사용성 및 프로세스 무결성 플러그인입니다. 관리자는 최종 사용자가 티켓 솔루션을 승인할 때 텍스트 댓글을 입력할 수 있는지 여부를 제어할 수 있습니다.</ko_KR>
         <lt_LT>Solution Approval Guard yra naudojimo paprastumo ir procesų vientisumo papildinys, sukurtas specialiai GLPI 11. Tai leidžia administratoriams kontroliuoti, ar galutiniai vartotojai gali įvesti tekstinius komentarus patvirtindami bilieto sprendimą.</lt_LT>
         <lv_LV>Solution Approval Guard ir lietojamības un procesu integritātes spraudnis, kas īpaši izstrādāts GLPI 11. Tas ļauj administratoriem kontrolēt, vai gala lietotāji var ievadīt teksta komentārus, apstiprinot pieteikuma risinājumu.</lv_LV>
         <mn_MN>Solution Approval Guard нь тусгайлан GLPI 11-д зориулан боловсруулсан ашиглах боломж болон үйл явцын бүрэн бүтэн байдлын нэмэлт өргөтгөл юм. Энэ нь эцсийн хэрэглэгчид тасалбарын шийдлийг батлахдаа текст сэтгэгдэл оруулах боломжтой эсэхийг администраторуудад хянах боломжийг олгодог.</mn_MN>
         <ms_MY>Solution Approval Guard ialah pemalam kebolehgunaan dan integriti proses yang dibangunkan khas untuk GLPI 11. Ia membolehkan pentadbir mengawal sama ada pengguna akhir boleh memasukkan ulasan teks apabila meluluskan penyelesaian tiket.</ms_MY>
         <nb_NO>Solution Approval Guard er et brukervennlighets- og prosessintegritets-plugin utviklet spesielt for GLPI 11. Det lar administratorer styre om sluttbrukere kan skrive inn tekstkommentarer når de godkjenner en saksløsning.</nb_NO>
         <nl_BE>Solution Approval Guard is een bruikbaarheids- en procesintegriteitsplug-in die speciaal is ontwikkeld voor GLPI 11. Hiermee kunnen beheerders bepalen of eindgebruikers tekstuele opmerkingen kunnen invoeren bij het goedkeuren van een ticketoplossing.</nl_BE>
         <nl_NL>Solution Approval Guard is een bruikbaarheids- en procesintegriteitsplug-in die speciaal is ontwikkeld voor GLPI 11. Hiermee kunnen beheerders bepalen of eindgebruikers tekstuele opmerkingen kunnen invoeren bij het goedkeuren van een ticketoplossing.</nl_NL>
         <nn_NO>Solution Approval Guard er eit brukervennlegheits- og prosessintegritets-tillegg utvikla spesielt for GLPI 11. Det lèt administratorar styre om sluttbrukarar kan skrive inn tekstkommentarar når dei godkjenner ei saksløysing.</nn_NO>
         <pl_PL>Solution Approval Guard to wtyczka zwiększająca użyteczność i integralność procesów, stworzona specjalnie dla GLPI 11. Pozwala administratorom kontrolować, czy użytkownicy końcowi mogą wprowadzać komentarze tekstowe podczas zatwierdzania rozwiązania zgłoszenia.</pl_PL>
         <pt_BR>O Solution Approval Guard é um plugin de usabilidade e integridade de processos desenvolvido especificamente para o GLPI 11. Ele permite que administradores controlem se os usuários finais podem ou não inserir comentários de texto no momento em que decidem aprovar a solução de um chamado.</pt_BR>
         <pt_PT>O Solution Approval Guard é um plugin de usabilidade e integridade de processos desenvolvido especificamente para o GLPI 11. Ele permite que administradores controlem se os usuários finais podem ou não inserir comentários de texto no momento em que decidem aprovar a solução de um chamado.</pt_PT>
         <ro_RO>Solution Approval Guard este un plugin de utilizabilitate și integritate a proceselor dezvoltat special pentru GLPI 11. Acesta permite administratorilor să controleze dacă utilizatorii finali pot introduce comentarii text la aprobarea soluției unui tichet.</ro_RO>
         <ru_RU>Solution Approval Guard — это плагин для повышения удобства использования и целостности процессов, разработанный специально для GLPI 11. Он позволяет администраторам контролировать, могут ли конечные пользователи вводить текстовые комментарии при утверждении решения по заявке.</ru_RU>
         <sk_SK>Solution Approval Guard je zásuvný modul pre použiteľnosť a integritu procesov vyvinutý špeciálne pre GLPI 11. Umožňuje administrátorom určiť, či koncoví používatelia môžu pri schvaľovaní riešenia požiadavky zadávať textové komentáre.</sk_SK>
         <sl_SI>Solution Approval Guard je vtičnik za uporabnost in celovitost procesov, razvit posebej za GLPI 11. Skrbnikom omogoča, da nadzirajo, ali lahko končni uporabniki vnesejo besedilne komentarje pri odobritvi rešitve zahtevka.</sl_SI>
         <sq_AL>Solution Approval Guard është një shtojcë për përdorshmërinë dhe integritetin e proceseve, e zhvilluar posaçërisht për GLPI 11. U lejon administratorëve të kontrollojnë nëse përdoruesit përfundimtarë mund të shkruajnë komente me tekst gjatë miratimit të zgjidhjes së një tikete.</sq_AL>
         <sr_RS>Solution Approval Guard је додатак за употребљивост и интегритет процеса развијен посебно за GLPI 11. Омогућава администраторима да контролишу да ли крајњи корисници могу да унесу текстуалне коментаре приликом одобравања решења захтева.</sr_RS>
         <sv_SE>Solution Approval Guard är ett användbarhets- och processintegritets-plugin som utvecklats speciellt för GLPI 11. Det gör det möjligt för administratörer att styra om slutanvändare kan ange textkommentarer när de godkänner en ärendelösning.</sv_SE>
         <th_TH>Solution Approval Guard เป็นปลั๊กอินความสามารถในการใช้งานและความสมบูรณ์ของกระบวนการที่พัฒนาขึ้นสำหรับ GLPI 11 โดยเฉพาะ ช่วยให้ผู้ดูแลระบบสามารถควบคุมได้ว่าผู้ใช้ปลายทางสามารถป้อนความคิดเห็นที่เป็นข้อความเมื่ออนุมัติวิธีแก้ไขปัญหาตั๋วได้หรือไม่</th_TH>
         <tr_TR>Solution Approval Guard, GLPI 11 için özel olarak geliştirilmiş bir kullanılabilirlik ve süreç bütünlüğü eklentisidir. Yöneticilerin, son kullanıcıların bir bilet çözümünü onaylarken metin yorumları girip giremeyeceklerini kontrol etmelerine olanak tanır.</tr_TR>
         <uk_UA>Solution Approval Guard — це плагін для зручності використання та цілісності процесів, розроблений спеціально для GLPI 11. Він дозволяє адміністраторам контролювати, чи можуть кінцеві користувачі вводити текстові коментарі під час затвердження рішення за заявкою.</uk_UA>
         <vi_VN>Solution Approval Guard là một plugin kiểm soát tính khả dụng và tính toàn vẹn của quy trình được phát triển đặc biệt cho GLPI 11. Plugin này cho phép quản trị viên kiểm soát xem người dùng cuối có thể nhập bình luận văn bản khi phê duyệt giải pháp vé hay không.</vi_VN>
         <zh_CN>Solution Approval Guard是专门为GLPI 11开发的可用性和流程完整性插件。它允许管理员控制最终用户在批准工单解决方案时是否可以输入文本评论。</zh_CN>
         <zh_HK>Solution Approval Guard是專門為GLPI 11開發的可用性和流程完整性插件。它允許管理員控制最終用戶在批准工單解決方案時是否可以輸入文本評論。</zh_HK>
         <zh_TW>Solution Approval Guard是專門為GLPI 11開發的可用性和流程完整性插件。它允許管理員控制最終用戶在批准工單解決方案時是否可以輸入文本評論。</zh_TW>
      </long>
   </description>
   <homepage>https://github.com/andrefelipeufcg/solutionapprovalguard</homepage>
   <download>https://github.com/andrefelipeufcg/solutionapprovalguard/releases</download>
   <issues>https://github.com/andrefelipeufcg/solutionapprovalguard/issues</issues>
   <readme>https://github.com/andrefelipeufcg/solutionapprovalguard/blob/main/README.md</readme>
   <changelog>https://github.com/andrefelipeufcg/solutionapprovalguard/releases</changelog>
   <authors>
      <author>andrefelipeufcg</author>
   </authors>
    <versions>
       <version>
          <num>1.0.2</num>
          <compatibility>&gt;=11.0.0</compatibility>
          <download_url>https://github.com/andrefelipeufcg/solutionapprovalguard/archive/refs/tags/v1.0.2.zip</download_url>
       </version>
       <version>
          <num>1.0.1</num>
          <compatibility>&gt;=11.0.0</compatibility>
          <download_url>https://github.com/andrefelipeufcg/solutionapprovalguard/archive/refs/tags/v1.0.1.zip</download_url>
       </version>
       <version>
          <num>1.0.0</num>
          <compatibility>&gt;=11.0.0</compatibility>
          <download_url>https://github.com/andrefelipeufcg/solutionapprovalguard/archive/refs/tags/v1.0.0.zip</download_url>
       </version>
    </versions>
    <langs>
       <lang>ar_IQ</lang>
       <lang>ar_SA</lang>
       <lang>ar_SY</lang>
       <lang>az_AZ</lang>
       <lang>be_BY</lang>
       <lang>bg_BG</lang>
       <lang>bn_BD</lang>
       <lang>ca_ES</lang>
       <lang>cs_CZ</lang>
       <lang>da_DK</lang>
       <lang>de_DE</lang>
       <lang>el_GR</lang>
       <lang>en_GB</lang>
       <lang>en_US</lang>
       <lang>eo</lang>
       <lang>es_419</lang>
       <lang>es_AR</lang>
       <lang>es_CL</lang>
       <lang>es_CO</lang>
       <lang>es_EC</lang>
       <lang>es_ES</lang>
       <lang>es_MX</lang>
       <lang>es_VE</lang>
       <lang>et_EE</lang>
       <lang>eu_ES</lang>
       <lang>fa_IR</lang>
       <lang>fi_FI</lang>
       <lang>fr_BE</lang>
       <lang>fr_CA</lang>
       <lang>fr_FR</lang>
       <lang>gl_ES</lang>
       <lang>he_IL</lang>
       <lang>hi_IN</lang>
       <lang>hr_HR</lang>
       <lang>hu_HU</lang>
       <lang>id_ID</lang>
       <lang>is_IS</lang>
       <lang>it_IT</lang>
       <lang>ja_JP</lang>
       <lang>km_KH</lang>
       <lang>kn</lang>
       <lang>ko_KR</lang>
       <lang>lt_LT</lang>
       <lang>lv_LV</lang>
       <lang>mn_MN</lang>
       <lang>ms_MY</lang>
       <lang>nb_NO</lang>
       <lang>nl_BE</lang>
       <lang>nl_NL</lang>
       <lang>nn_NO</lang>
       <lang>pl_PL</lang>
       <lang>pt_BR</lang>
       <lang>pt_PT</lang>
       <lang>ro_RO</lang>
       <lang>ru_RU</lang>
       <lang>sk_SK</lang>
       <lang>sl_SI</lang>
       <lang>sq_AL</lang>
       <lang>sr_RS</lang>
       <lang>sv_SE</lang>
       <lang>th_TH</lang>
       <lang>tr_TR</lang>
       <lang>uk_UA</lang>
       <lang>vi_VN</lang>
       <lang>zh_CN</lang>
       <lang>zh_HK</lang>
       <lang>zh_TW</lang>
    </langs>
   <license>GPLv3+</license>
         <tags>
      <ar_IQ>
         <tag>itil</tag>
         <tag>حل</tag>
         <tag>موافقة</tag>
         <tag>helpdesk</tag>
      </ar_IQ>
      <ar_SA>
         <tag>itil</tag>
         <tag>حل</tag>
         <tag>موافقة</tag>
         <tag>helpdesk</tag>
      </ar_SA>
      <ar_SY>
         <tag>itil</tag>
         <tag>حل</tag>
         <tag>موافقة</tag>
         <tag>helpdesk</tag>
      </ar_SY>
      <az_AZ>
         <tag>itil</tag>
         <tag>hell</tag>
         <tag>tesdiq</tag>
         <tag>helpdesk</tag>
      </az_AZ>
      <be_BY>
         <tag>itil</tag>
         <tag>рашэнне</tag>
         <tag>зацвярджэнне</tag>
         <tag>helpdesk</tag>
      </be_BY>
      <bg_BG>
         <tag>itil</tag>
         <tag>решение</tag>
         <tag>одобрение</tag>
         <tag>helpdesk</tag>
      </bg_BG>
      <bn_BD>
         <tag>itil</tag>
         <tag>সমাধান</tag>
         <tag>অনুমোদন</tag>
         <tag>helpdesk</tag>
      </bn_BD>
      <ca_ES>
         <tag>itil</tag>
         <tag>solucio</tag>
         <tag>aprovacio</tag>
         <tag>helpdesk</tag>
      </ca_ES>
      <cs_CZ>
         <tag>itil</tag>
         <tag>reseni</tag>
         <tag>schvaleni</tag>
         <tag>helpdesk</tag>
      </cs_CZ>
      <da_DK>
         <tag>itil</tag>
         <tag>losning</tag>
         <tag>godkendelse</tag>
         <tag>helpdesk</tag>
      </da_DK>
      <de_DE>
         <tag>itil</tag>
         <tag>losung</tag>
         <tag>genehmigung</tag>
         <tag>helpdesk</tag>
      </de_DE>
      <el_GR>
         <tag>itil</tag>
         <tag>λυση</tag>
         <tag>εγκριση</tag>
         <tag>helpdesk</tag>
      </el_GR>
      <en>
         <tag>itil</tag>
         <tag>solution</tag>
         <tag>approval</tag>
         <tag>helpdesk</tag>
      </en>
      <en_GB>
         <tag>itil</tag>
         <tag>solution</tag>
         <tag>approval</tag>
         <tag>helpdesk</tag>
      </en_GB>
      <en_US>
         <tag>itil</tag>
         <tag>solution</tag>
         <tag>approval</tag>
         <tag>helpdesk</tag>
      </en_US>
      <eo>
         <tag>itil</tag>
         <tag>solvo</tag>
         <tag>aprobo</tag>
         <tag>helpdesk</tag>
      </eo>
      <es_419>
         <tag>itil</tag>
         <tag>solucion</tag>
         <tag>aprobacion</tag>
         <tag>helpdesk</tag>
      </es_419>
      <es_AR>
         <tag>itil</tag>
         <tag>solucion</tag>
         <tag>aprobacion</tag>
         <tag>helpdesk</tag>
      </es_AR>
      <es_CL>
         <tag>itil</tag>
         <tag>solucion</tag>
         <tag>aprobacion</tag>
         <tag>helpdesk</tag>
      </es_CL>
      <es_CO>
         <tag>itil</tag>
         <tag>solucion</tag>
         <tag>aprobacion</tag>
         <tag>helpdesk</tag>
      </es_CO>
      <es_EC>
         <tag>itil</tag>
         <tag>solucion</tag>
         <tag>aprobacion</tag>
         <tag>helpdesk</tag>
      </es_EC>
      <es_ES>
         <tag>itil</tag>
         <tag>solucion</tag>
         <tag>aprobacion</tag>
         <tag>helpdesk</tag>
      </es_ES>
      <es_MX>
         <tag>itil</tag>
         <tag>solucion</tag>
         <tag>aprobacion</tag>
         <tag>helpdesk</tag>
      </es_MX>
      <es_VE>
         <tag>itil</tag>
         <tag>solucion</tag>
         <tag>aprobacion</tag>
         <tag>helpdesk</tag>
      </es_VE>
      <et_EE>
         <tag>itil</tag>
         <tag>lahendus</tag>
         <tag>kinnitus</tag>
         <tag>helpdesk</tag>
      </et_EE>
      <eu_ES>
         <tag>itil</tag>
         <tag>irtenbidea</tag>
         <tag>onarpena</tag>
         <tag>helpdesk</tag>
      </eu_ES>
      <fa_IR>
         <tag>itil</tag>
         <tag>راه حل</tag>
         <tag>تایید</tag>
         <tag>helpdesk</tag>
      </fa_IR>
      <fi_FI>
         <tag>itil</tag>
         <tag>ratkaisu</tag>
         <tag>hyvaksynta</tag>
         <tag>helpdesk</tag>
      </fi_FI>
      <fr_BE>
         <tag>itil</tag>
         <tag>solution</tag>
         <tag>approbation</tag>
         <tag>helpdesk</tag>
      </fr_BE>
      <fr_CA>
         <tag>itil</tag>
         <tag>solution</tag>
         <tag>approbation</tag>
         <tag>helpdesk</tag>
      </fr_CA>
      <fr_FR>
         <tag>itil</tag>
         <tag>solution</tag>
         <tag>approbation</tag>
         <tag>helpdesk</tag>
      </fr_FR>
      <gl_ES>
         <tag>itil</tag>
         <tag>solucion</tag>
         <tag>aprobacion</tag>
         <tag>helpdesk</tag>
      </gl_ES>
      <he_IL>
         <tag>itil</tag>
         <tag>פתרון</tag>
         <tag>אישור</tag>
         <tag>helpdesk</tag>
      </he_IL>
      <hi_IN>
         <tag>itil</tag>
         <tag>समाधान</tag>
         <tag>स्वीकृति</tag>
         <tag>helpdesk</tag>
      </hi_IN>
      <hr_HR>
         <tag>itil</tag>
         <tag>rjesenje</tag>
         <tag>odobrenje</tag>
         <tag>helpdesk</tag>
      </hr_HR>
      <hu_HU>
         <tag>itil</tag>
         <tag>megoldas</tag>
         <tag>jovahagyas</tag>
         <tag>helpdesk</tag>
      </hu_HU>
      <id_ID>
         <tag>itil</tag>
         <tag>solusi</tag>
         <tag>persetujuan</tag>
         <tag>helpdesk</tag>
      </id_ID>
      <is_IS>
         <tag>itil</tag>
         <tag>lausn</tag>
         <tag>samthykki</tag>
         <tag>helpdesk</tag>
      </is_IS>
      <it_IT>
         <tag>itil</tag>
         <tag>soluzione</tag>
         <tag>approvazione</tag>
         <tag>helpdesk</tag>
      </it_IT>
      <ja_JP>
         <tag>itil</tag>
         <tag>ソリューション</tag>
         <tag>承認</tag>
         <tag>helpdesk</tag>
      </ja_JP>
      <km_KH>
         <tag>itil</tag>
         <tag>ដំណោះស្រាយ</tag>
         <tag>ការអនុម័ត</tag>
         <tag>helpdesk</tag>
      </km_KH>
      <kn>
         <tag>itil</tag>
         <tag>ಪರಿಹಾರ</tag>
         <tag>ಅನುಮೋದನೆ</tag>
         <tag>helpdesk</tag>
      </kn>
      <ko_KR>
         <tag>itil</tag>
         <tag>솔루션</tag>
         <tag>승인</tag>
         <tag>helpdesk</tag>
      </ko_KR>
      <lt_LT>
         <tag>itil</tag>
         <tag>sprendimas</tag>
         <tag>patvirtinimas</tag>
         <tag>helpdesk</tag>
      </lt_LT>
      <lv_LV>
         <tag>itil</tag>
         <tag>risinajums</tag>
         <tag>apstiprinajums</tag>
         <tag>helpdesk</tag>
      </lv_LV>
      <mn_MN>
         <tag>itil</tag>
         <tag>шийдэл</tag>
         <tag>батлах</tag>
         <tag>helpdesk</tag>
      </mn_MN>
      <ms_MY>
         <tag>itil</tag>
         <tag>penyelesaian</tag>
         <tag>kelulusan</tag>
         <tag>helpdesk</tag>
      </ms_MY>
      <nb_NO>
         <tag>itil</tag>
         <tag>losning</tag>
         <tag>godkjenning</tag>
         <tag>helpdesk</tag>
      </nb_NO>
      <nl_BE>
         <tag>itil</tag>
         <tag>oplossing</tag>
         <tag>goedkeuring</tag>
         <tag>helpdesk</tag>
      </nl_BE>
      <nl_NL>
         <tag>itil</tag>
         <tag>oplossing</tag>
         <tag>goedkeuring</tag>
         <tag>helpdesk</tag>
      </nl_NL>
      <nn_NO>
         <tag>itil</tag>
         <tag>loysing</tag>
         <tag>godkjenning</tag>
         <tag>helpdesk</tag>
      </nn_NO>
      <pl_PL>
         <tag>itil</tag>
         <tag>rozwiazanie</tag>
         <tag>zatwierdzenie</tag>
         <tag>helpdesk</tag>
      </pl_PL>
      <pt_BR>
         <tag>itil</tag>
         <tag>solucao</tag>
         <tag>aprovacao</tag>
         <tag>helpdesk</tag>
      </pt_BR>
      <pt_PT>
         <tag>itil</tag>
         <tag>solucao</tag>
         <tag>aprovacao</tag>
         <tag>helpdesk</tag>
      </pt_PT>
      <ro_RO>
         <tag>itil</tag>
         <tag>solutie</tag>
         <tag>aprobare</tag>
         <tag>helpdesk</tag>
      </ro_RO>
      <ru_RU>
         <tag>itil</tag>
         <tag>решение</tag>
         <tag>утверждение</tag>
         <tag>helpdesk</tag>
      </ru_RU>
      <sk_SK>
         <tag>itil</tag>
         <tag>riesenie</tag>
         <tag>schvalenie</tag>
         <tag>helpdesk</tag>
      </sk_SK>
      <sl_SI>
         <tag>itil</tag>
         <tag>resitev</tag>
         <tag>odobritev</tag>
         <tag>helpdesk</tag>
      </sl_SI>
      <sq_AL>
         <tag>itil</tag>
         <tag>zgjidhje</tag>
         <tag>miratim</tag>
         <tag>helpdesk</tag>
      </sq_AL>
      <sr_RS>
         <tag>itil</tag>
         <tag>resenje</tag>
         <tag>odobrenje</tag>
         <tag>helpdesk</tag>
      </sr_RS>
      <sv_SE>
         <tag>itil</tag>
         <tag>losning</tag>
         <tag>godkannande</tag>
         <tag>helpdesk</tag>
      </sv_SE>
      <th_TH>
         <tag>itil</tag>
         <tag>วิธีแก้ปัญหา</tag>
         <tag>การอนุมัติ</tag>
         <tag>helpdesk</tag>
      </th_TH>
      <tr_TR>
         <tag>itil</tag>
         <tag>cozum</tag>
         <tag>onay</tag>
         <tag>helpdesk</tag>
      </tr_TR>
      <uk_UA>
         <tag>itil</tag>
         <tag>рішення</tag>
         <tag>затвердження</tag>
         <tag>helpdesk</tag>
      </uk_UA>
      <vi_VN>
         <tag>itil</tag>
         <tag>giai_phap</tag>
         <tag>phe_duyet</tag>
         <tag>helpdesk</tag>
      </vi_VN>
      <zh_CN>
         <tag>itil</tag>
         <tag>解决方案</tag>
         <tag>批准</tag>
         <tag>helpdesk</tag>
      </zh_CN>
      <zh_HK>
         <tag>itil</tag>
         <tag>解決方案</tag>
         <tag>批准</tag>
         <tag>helpdesk</tag>
      </zh_HK>
      <zh_TW>
         <tag>itil</tag>
         <tag>解決方案</tag>
         <tag>批准</tag>
         <tag>helpdesk</tag>
      </zh_TW>
   </tags>
   <screenshots>
      <screenshot>https://raw.githubusercontent.com/andrefelipeufcg/solutionapprovalguard/main/screenshot.png</screenshot>
   </screenshots>
</root>
